<h1>{{message}}</h1>

<div class="container">

  <div style="margin: 0 10px">
      <label >Search : </label>
      <input type="text" ng-model="search" class="form-control">
  </div>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movie name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movies | filter:search">
      <th scope="row">{{movie.id}}</th>
      <td>{{movie.name}}</td>
    </tr>
  </tbody>
</table>
  <a href="#!/add" class="btn btn-danger">Add Movie</a>
</div>